<!doctype html>
<html lang="en" ng-app>

	<head>
		<meta charset="utf-8">

		<title>AngularJS - Apresentação PUC Minas</title>

		<meta name="description" content="Apresentação sobre AngularJS">
		<meta name="author" content="alunos-pucminas">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/simple.css" id="theme">

    <script src="lib/angular/angular.js"></script>

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<style type="text/css">
			.reveal section img {
				border: none;
				background: none;
				box-shadow: none;
			}

			strong {
				color: rgb(223, 34, 49);
			}

			#logo {
				border: none;
				width: 370px;
			}

			.reveal a:not(.image) {
				color: rgb(223, 34, 49);
			}

			.slide-logo-presentation img {
				width: 250px;
			}

			.list-description h4 {
				font-weight: bolder;
      }

      .with-background h1 {
        color: white;
        font-weight: bolder;
        font-size: 180px;
        margin-top: 200px;
        text-shadow: 0px 0px 0 rgb(217,217,217),1px 1px 0 rgb(188,188,188),
                     2px 2px 0 rgb(160,160,160),3px 3px 0 rgb(132,132,132),
                     4px 4px 0 rgb(103,103,103),5px 5px 0 rgb(75,75,75),
                     6px 6px 0 rgb(47,47,47),7px 7px 38px rgba(0,0,0,0.6),
                     7px 7px 1px rgba(0,0,0,0.5),11px 13px 44px rgba(0,0,0,.2);
       }

       .slide-top-span span {
          position: relative;
          top: -115px;
        }

        .up-image img:first {
        
        }

        .reveal pre {
          box-shadow: none;
        }
      
    </style>

    <script type="text/javascript">
      function SimpleController($scope){
        $scope.someThings = ['My', 'first', 'controller'];
      }
    </script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

				<section>
					<img src="img/angularjs-logo2.png" id="logo">
					<h1>ANGULAR<strong>JS</strong></h1>
					<h3>Tecnologias Web - PUC Minas</h3>
					<p>
						<small>Jônatas Santos / </small> 
						<small>José Cassio / </small>
						<small>Magnum Dutra / </small>
						<small>Gustavo Teófilo</small>
					</p>
				</section>

				<section class="present" id="fragments" style="top: 142px; display: block;">
					<h2>O que vamos apresentar</h2>
					<ul>
						<li>O que é AngularJS ?</li>
						<li>Porque usar ?</li>
						<li>Conceitos gerais...</li>
						<li>Vantagens e desvatagens...</li>
						<li>AngularJS na prática...</li>
					</ul>
				</section>

				<section>
					<h2>O que é ANGULAR<strong>JS</strong>?</h2>
				</section>

				<section class="slide-logo-presentation">
					<p>
						<small><img src="img/angularjs-logo-small.png" style="width: 100%"></small>
						<small><img src="img/js-logo.png"></small> 
						<small><img src="img/opensource-logo.png"></small>
					</p>
				</section>

				<section class="list-description">
					<ul>
						<li>
							<h4>Framework JavaScript com grande foco em HTML</h4>
              <ul>
								<li><h5>HTML + JS</h5></li>
              </ul> 
						</li>
						<li>
							<h4>Desenvolvido pelo Google em 2009</h4>
							<ul>
								<li><h5>...originalmente por Misko Hevery e Adam Abrons</h5></li>
							</ul>
						</li>
						<li>
							<h4>Arquitetura MVC</h4>
							<ul>
								<li><h5>Podendo variar (MV*)...</h5></li>
							</ul>
						</li>
						<li>
							<h4>Suporta os navegadores modernos (Desktop e Mobile)</h4>
							<ul>
								<li><h5>EI8+, Chrome, Firefox, Safari e Opera</h5></li>
							</ul>
						</li>
					</ul>					
				</section>
        
        <section class="slide-top-span">
          <h1>
            <img src="img/angularjs-logo2.png" style="width: 365px"/>
            <span> + </span>
            <img src="img/html5-logo.png" style="width: 360px"/>
          </h1>
          <h3>"HTML enhanced for web apps!"</h3>
        </section>

				<section class="list-description">
					<ul>
						<li>
							<h4>O AngularJS funciona como uma extensão ao documento HTML.</h4>
							<ul>
								<li><h5>Novos atributos no html para conseguir adicionar funcionalidades extras</h5></li>
							</ul>
						</li>
						<li>
							<h4>AngularJS é quase uma linguagem declarativa</h4>
							<ul>
								<li><h5>Adicionando novos parâmetros é possivel alterar o comportamento padrão do html</h5></li>
							</ul>
						</li>
						<li>
							<h4>Fornece um conjunto de funcionalidades que tornam o desenvolvimento web muito mais fácil</h4>
							<ul>
								<li><h5>DataBinding, templates...</h5></li>
							</ul>
						</li>
						<li>
							<h4>Aplicações baseadas em browser</h4>
							<ul>
								<li><h5>Sinlge-page Apps...</h5></li>
							</ul>
						</li>
					</ul>
					</ul>
				</section>

				<section>
					<h2>Porque <strong>usar</strong> ?</h2>
        </section>
        
        <section>
          <h2>No contexto de uma aplicação</h2>
          <p class="fragment" data-fragment-index="0">com alta complexidade e dinamismo da página html...</p>
          <p class="fragment" data-fragment-index="1">... componente da parte lógica sendo empurrada para o Cliente(JS)</p>
          <p class="fragment" data-fragment-index="2">FATO: necessidade de uma maior organização do código no front-end</p>
        </section>

        <section data-background="img/super-angularjs.jpg">
        </section>

        <section>
          <h3>  
              AngularJS consegue realizar essa tarefa muito bem, 
              permitindo que você quebre o seu código em partes, 
              separando assim suas responsabilidades. 
          </h3>
        </section>
        
        <section>
          <h3>Além de contar com Two-Way Data Binding e incentivar o uso de Dependency Injection.</h3>
        </section>
        
        <section>
          <h2>Data Binding</h2>
          <ul>
            <li><strike>One-Way</strike></li>
            <li>Two-Way</li>
            <li>
              Three-Way ???? Nope =)
              <ul>
                <li>Por enquanto não!</li>
              </ul>
            </li>
          </ul>
        </section>
        
        <section>
          <p>
            <img src="img/one-way.png" style="position: relative; margin-bottom: 97px;"/>
            <img src="img/two-way.png" />
          </p>
        </section>

        <section>
          <h2>Dependency Injection</h2>
          <ul>
            <li>Diminuir acoplamento entre modulos do sistema.</li>
            <li>Alto acoplamento pode prejudicar o design de uma arquitetura</li>
          </ul>
        </section>

				<section>
					<img src="img/angularjs-logo.png">
					<h2>Menos Server-side</h4>
					<h2>Mais poder para o Client-side</h4>
        </section>

        <section data-background="img/way.jpg">
        </section>
        
        <section>
          <h2>Componentes:</h2>
          <ul>
            <li>Diretivas</li>
            <li>Controllers</li>
            <li>Services</li>
            <li>Routes</li>
            <li>Módulos</li>
          </ul>
        </section>

        <section>
          <h2>Diretivas</h2>
        </section>

        <section data-background="img/html-pw.jpg">
          <h1 style="color: white; font-weight: bolder;">
            Trazem um "novo poder" ao HTML 
          </h1>
        </section>

        <section>
          <h2>Documento HTML</h2>
          <pre>
            <code data-trim contenteditable>

<div>
  <input type="text" ng-model='name' />
  <span>{{name}}</span>
</div>

            </code>
          </pre>
        </section>
        
        <section>
          <h2>Algumas Diretivas:</h2>
          <ul>
            <li>ng-app</li>
            <li>ng-model</li>
            <li>ng-class</li>
            <li>ng-repeat</li>
            <li>ng-show & ng-hide</li>
          </ul>
        </section>

        <section>
          <h2>Controllers</h2>
        </section>

        <section>
          <h3>
            Manipula o comportamento por trás do DOM e é também 
            responsável por inicializar e/ou adicionar 
            comportamentos ao objeto $scope, o qual permite 
            a comunicação entre a View e o seu Controller
          </h3>
        </section>

        <section>
          <h3>
            A diretiva <b>ng-controller</b> define em qual parte do
             documento HTML ele será utilizado.
          </h3>

          <pre>
            <code data-trim contenteditable>
function SimpleController($scope){
  $scope.someThings = ['My', 'first', 'controller'];
}
            </code>
          </pre>

          <pre>
            <code data-trim contenteditable>
<ul ng-controller="SimpleController">
  <li ng-repeat="thing in someThings">
    <span>{{thing}}</span>
  </li>
</ul>
            </code>
          </pre>
        </section>

        <section>
          <h3><b>$scope</b>: Onde a mágica acontece</h3>
          <img src="img/scope.png"/>
        </section>
  
        <section>
           <pre>
             <code>
                <div>
                  <input type="text" "ng-model"='name' />
                  <span>{{name}}</span>
                </div>  
             </code>
           </pre>
            <div>
              Entrada: <input type="text" ng-model='name' style="width: 300px; height: 60px;
                                                        font-size: 35px; border: 2px solid;"/>
              <br />
              <br />
              <h3>{{name}}</h3>
            </div>  
        </section>

        <section data-background="img/not-bad.jpg" class="with-background">	
				  	<h1 >NOT BAD</h1>
				</section>
 
        <section>
          <h2>Módulos</h2>
        </section>

        <section>
            <h2>
              Inicialização e encapsulamento 
              dos demais componentes descritos
            </h2>
        </section>

        <section>
          <pre>
            <code data-trim contenteditable>
      
//Inicialização do módulo
var module = angular.module('AngularIntro', []);
 
//Adição do Controller ao módulo
module.controller('SimpleController', function($scope){
  $scope.someThings = ['First', 'Angular', 'Module'];
    $scope.addThing = function(){
    var thing = $scope.thing;
    if($scope.someThings.indexOf(thing) == -1)
      $scope.bairroDoLimoeiro.push(thing);
    $scope.thing = '';
  }
});

            </code>
          </pre>
        </section>

        <section>
          <h2>Routes</h2>
        </section>

        <section>
          <h3>Ligação entre Controller e View (HTML partials)</h3>
          <pre>
            <code data-trim contenteditable>
var app = angular.module('MyApp', ['ngRoute', 'simpleController']);
            </code>
          </pre>
          <pre>
            <code data-trim contenteditable>
app.config(['$routeProvider', 
  function($routeProvider) {
    $routeProvider.when('/home', {
      templateUrl: 'partials/home.html',
      controller: 'homeController'
    }).otherwise( {
      redirectTo: '/erro'
    });
  }
]);
            </code>
          </pre>
        </section>

        <section>
          <h2>Services</h2>
        </section>

        <section>
          <h2>O que é? Para que serve?</h2>
          <br />
          <ul>
            <li><h5>Objetos Singletons que realizam tarefas específicas comuns em uma aplicação WEB</h5></li>
            <li><h5>Compartilhamento de informações entre controller</h5></li>
            <li><h5>Comunicação com o servidor</h5></li>
            <li>
                <h5>Concentrar a lógica de negócio deixando o fluxo 
                  da aplicação por conta do controller</h5>
            </li>
          </ul>
        </section>

        <section>
          <h3>Na prática...</h3>
          <pre>
            <code data-trim contenteditable>
// Service            
module.factory('simpleService', function(){
  var service = {};
  service.nameList = ['Joe', 'Lenny', 'Colt', 'Julie']; 

  service.addName = function(name){
    if(service.nameList.indexOf(name) == -1)
      service.nameList.push(name); 
  }
 
  return service;
});
            </code>
          </pre>
          <pre>
            <code data-trim contenteditable>
// Consumindo no controller    
module.controller('SimpleController', function($scope, simpleService){
  $scope.nameList = simpleService.nameList;

  $scope.addName = function(){
    nameList.addName($scope.name);
    $scope.name = '';
  }
});
            </code>
          </pre>
        </section>
        
        <section>
          <h2>Mais sobre AngularJS...</h2>
        </section>

        <section>
          <h2>Vantagens</h2>
          <ul>
            <li>Facilidade em maninpular o DOM</li>
            <li>Suporte a unit teste</li>
            <li>Suporte a diveros browsers atuais</li>
            <li>Flexibilidade, fácil integração com bibliotecas externas</li>
          </ul>
        </section>
        
        <section>
          <h2>Desvantagens</h2>
          <ul>
            <li>Conceitos complexos</li>
            <ul>
              <li><i>Data Binding</i></li>
            </ul>
          </ul>
        </section>

        <section class="slide-logo-presentation">
          <h2>Quem usa:</h2>
          <p>
            <small><img src="img/google-logo.png"></small>
            <small><img src="img/youtube.png"></small> 
          </p>
        </section>

        <section class="slide-logo-presentation">
          <h2>Onde aprender mais:</h2>
          <p>
            <small><img src="img/codeschool.jpg"></small>
            <small><img src="img/house.png"></small> 
          </p>
        </section>

        <section>
          <h1>Dúvidas?</h1>
        </section>

				<section>
					<h1>THE END</h1>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
